    <footer class="footer">
      <div class="container grid">
        <div class="col col--footer"><a href="/" class="logo">верстаем.онлайн</a></div>
        <div class="col col--footer">
          {% include 'nav-footer.njk' %}
        </div>
        <div class="col col--footer col--footer-links">
          <a href="{{ metadata.telegram }}" target="_blank" class="btn">Сообщество в Telegram</a>
          <a href="/policy/" class="link" target="_blank">Политика конфиденциальности</a>
        </div>
        <div class="col col--footer">
          <div class="footer__rights">© <span class="year">2023</span> Все права защищены</div>
        </div>
      </div>
    </footer>
  </div>
  <div class="cookie-block">
    <p class="cookie-block__text">Используя данный сайт, вы даете согласие на использование файлов cookie, данных об
      IP-адресе и местоположении, помогающих нам сделать его удобнее для вас. <a href="/cookie/" target="_blank">Подробнее</a></p>
    <button class="btn btn-reset cookie-block__btn">Принять и закрыть</button>
  </div>
  {% set lastWeekProjects = collections.projects | getByLastWeek %}
  {% set lastWeekPosts = collections.blog | getByLastWeek %}
  {% set lastWeekTasks = collections.tasks | getByLastWeek %}
  {% if lastWeekProjects or lastWeekPosts or lastWeekTasks  %}
    <div class="last-actions">
      <button class="btn-reset last-actions__btn">
        <svg>
          <use xlink:href="/assets/img/sprite.svg#cross"></use>
        </svg>
      </button>
      <h2 class="last-actions__title">Новое за неделю</h2>
      {% if lastWeekProjects.length %}
        <h3 class="last-actions__subtitle">Макеты:</h3>
        <ul class="list-reset last-actions__list">
          {% for post in lastWeekProjects %}
            <li class="last-actions__item">
              <a href="{{ post.url }}" class="last-actions__link">{{ post.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if lastWeekPosts.length %}
        <h3 class="last-actions__subtitle">Блог:</h3>
        <ul class="list-reset last-actions__list">
          {% for post in lastWeekPosts %}
            <li class="last-actions__item">
              <a href="{{ post.url }}" class="last-actions__link">{{ post.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if lastWeekTasks.length %}
        <h3 class="last-actions__subtitle">Задачи:</h3>
        <ul class="list-reset last-actions__list">
          {% for post in lastWeekTasks %}
            <li class="last-actions__item">
              <a href="{{ post.url }}" class="last-actions__link">{{ post.data.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  {% endif %}
  <script>
    const year = new Date().getFullYear();
    document.querySelector('.year').textContent = year;
  </script>
</body>

</html>
