<nav class="nav nav--footer" title="Главное меню">
  <ul class="list-reset nav__list">
    <li class="nav__item"><a href="/projects/" class="nav__link">Макеты</a></li>
    <li class="nav__item"><a href="/tasks/" class="nav__link">Задачи</a></li>
    <li class="nav__item"><a href="/experts/" class="nav__link">Эксперты</a></li>
    <li class="nav__item"><a href="/blog/" class="nav__link">Блог</a></li>
    <li class="nav__item"><a href="/#faq" class="nav__link">FAQ</a></li>
    <li class="nav__item"><a href="/contacts/" class="nav__link">Контакты</a></li>
  </ul>
</nav>
