<nav class="nav nav--fixed" title="Главное меню" data-menu>
  <ul class="list-reset nav__list">
    <li class="nav__item"><a href="/projects/" class="nav__link" data-menu-item>Макеты</a></li>
    <li class="nav__item"><a href="/tasks/" class="nav__link" data-menu-item>Задачи</a></li>
    <li class="nav__item"><a href="/people/" class="nav__link" data-menu-item>Участники</a></li>
    <li class="nav__item"><a href="/blog/" class="nav__link" data-menu-item>Блог</a></li>
    <li class="nav__item"><a href="/#faq" class="nav__link" data-menu-item>FAQ</a></li>
    <li class="nav__item"><a href="/contacts/" class="nav__link" data-menu-item>Контакты</a></li>
  </ul>
</nav>
