<div class="search">
  <div class="container">
    <div class="search__top">
      <a class="logo search__logo" aria-hidden="true">
        <svg>
          <use xlink:href="/assets/img/sprite.svg#logo"></use>
        </svg>
      </a>
      <button class="btn-reset search__close" aria-label="Закрыть поиск">
        <svg>
          <use xlink:href="/assets/img/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <form action="#" class="search__form">
      <input type="search" class="search__input" placeholder="Поиск">
      <div class="search__dropdown">
        <ul class="search__list">
        </ul>
      </div>
    </form>
  </div>
</div>
