---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /cgi-bin
Disallow: /wp-
Host: https://verstaem.online
Sitemap: https://verstaem.online/sitemap.xml

User-agent: *
Disallow:
