---
permalink: /robots.txt
eleventyExcludeFromCollections: true
---

User-agent: *
Disallow: /cgi-bin
Disallow: /wp-
Allow: /*/*.js
Allow: /*/*.css
Allow: /wp-*.png
Allow: /wp-*.jpg
Allow: /wp-*.jpeg
Allow: /wp-*.gif
Disallow: */*/feed/*/
Disallow: */feed
Sitemap: https://verstaem.online/sitemap.xml/
Host: https://verstaem.online
