{% include 'header.njk' %}

<main class="main">
  <section class="not-found">
    <div class="container not-found__container">
      <h1 class="visually-hidden">Страница не найдена</h1>
      <div class="not-found__left">
        <div class="not-found__symbol">404</div>
        <p class="not-found__descr">
          далеко не каждому удаётся оказаться здесь. но вы настоящий счастливчик!
        </p>
        <p class="not-found__descr">ловите файл с кучей полезного!</p>
        <a href="{{ metadata.gift }}" download class="not-found__download">Скачать</a>
        <a href="/" class="not-found__download">На главную</a>
      </div>
      <img src="/assets/img/not-found.svg" class="not-found__image" aria-hidden="true" alt="">
    </div>
  </section>
</main>

</div>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/main.js"></script>
<script>
  const year = new Date().getFullYear();
  document.querySelector('.year').textContent = year;
</script>
</body>

</html>
