{% include 'header-404.njk' %}

<main class="main">
  <section class="not-found-section">
    <div class="container">
      <h1 class="not-found-section__title visually-hidden">Страница не найдена</h1>
      <div class="not-found-section__text">404</div>
      <div class="not-found-section__descr">Вы попали не туда! Но не страшно, можно вернуться на <a
          href="/">главную</a></div>
    </div>
  </section>
</main>

</div>

<script src="/assets/js/vendor.js"></script>
<script src="/assets/js/main.js"></script>
<script>
  const year = new Date().getFullYear();
  document.querySelector('.year').textContent = year;
</script>
</body>

</html>
