{% include 'header-blog.njk' %}

{% set pagUrl = page.url %}
<main class="main">
  <section class="hero hero--blog section-offset">
    <div class="container">
      {% if "/blog/" == pagUrl %}
        <h1 class="hero__title">
          Блог
          <span style="color: var(--second-color);">
            ({{ collections.blog | length }})
          </span>
        </h1>
      {% else %}
        <h1 class="hero__title">
          Блог &mdash; {{ tag | changeTextInRussian }}
          <span style="color: var(--second-color);">
            ({{ collections.categoryList[tag] | length }})
          </span>
        </h1>
      {% endif %}
    </div>
  </section>
  <div class="blog-nav">
    <div class="container grid">
      <form action="#" class="blog-nav__form"><input type="search" class="blog-nav__input" placeholder="Поиск...">
      </form>
      <ul class="list-reset blog-nav__list">
        <li class="blog-nav__item">
            <a href="/blog/" class="blog-nav__link {% if "/blog/" == pagUrl %} blog-nav__link--active {% endif %}">
              Показать все
            </a>
          </li>
        {% for tag, val in collections.categoryList -%}
          <li class="blog-nav__item">
            <a href="/blog/{{ tag }}" class="blog-nav__link {% if tag in pagUrl %} blog-nav__link--active {% endif %}">
              {{ tag | changeTextInRussian }}
            </a>
          </li>
        {%- endfor %}
      </ul>
    </div>
  </div>
  <section class="blog-content section-offset">
    <div class="container">
      <h2 class="title visually-hidden">Статьи блога</h2>
      <div class="blog-content__nope">Ничего не найдено, попробуйте другой запрос</div>
      {% if "/blog/" == pagUrl %}
        <ul class="list-reset blog-content__list">
          {% for post in collections.blog | reverse %}
            <li class="blog-content__item">
              <article class="blog-content-card">
                <h3 class="blog-content-card__title">
                  <a href="{{ post.url }}" class="blog-content-card__link">{{ post.data.title }}</a>
                </h3>
                <div class="blog-content-card__meta">
                  <time class="blog-content-card__date" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time>
                  <a class="blog-content-card__author">{{ post.data.pseudonim }}</a>
                  <a href="/blog/{{ post.data.categories[0] }}" class="blog-content-card__category badge">{{ post.data.categories[0] | changeTextInRussian }}</a></div>
              </article>
            </li>
          {% endfor %}
        </ul>
      {% else %}
        <ul class="list-reset blog-content__list">
          {% for post in collections.categoryList[tag] -%}
            <li class="blog-content__item">
              <article class="blog-content-card">
                <h3 class="blog-content-card__title">
                  <a href="{{ post.url }}" class="blog-content-card__link">{{ post.data.title }}</a>
                </h3>
                <div class="blog-content-card__meta">
                  <time class="blog-content-card__date" datetime="{{ post.data.date }}">{{ post.data.date | dateformat }}</time>
                  <a class="blog-content-card__author">{{ post.data.pseudonim }}</a>
                  <a href="/blog/{{ post.data.categories[0] }}" class="blog-content-card__category badge">{{ post.data.categories[0] | changeTextInRussian }}</a></div>
              </article>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
</main>

{% include 'footer.njk' %}
