{% include 'header.njk' %}

<main class="main">
  <section class="hero hero--experts">
    <div class="container">
      <h1 class="hero__title">Участники проекта</h1>
      <p class="hero__text">Отличные верстальщики, разработчики проекта, авторы статей</p>
    </div>
  </section>
  <section class="experts-content section-offset">
    <div class="container">
      <h2 class="title visually-hidden">Эксперты сайта</h2>
      <ul class="list-reset experts-content__list grid">
        {% for item in people -%}
          <li class="experts-content__item">
            <a href="/people/{{item.key}}" class="experts-content__link">
              <div class="experts-content__image">
                <div class="experts-content__badges">
                  {% if item.role %}
                    <span class="badge badge--gray">Эксперт</span>
                  {% endif %}
                  {% if item.role2 %}
                    <span class="badge badge--gray">Автор</span>
                  {% endif %}
                </div>
                <img loading="lazy" src="/assets/img/people/{{item.key}}/{{item.avatar}}" class="image" width="560" height="600" alt="{{ item.name }}">
              </div>
              <div class="experts-content__name">{{ item.name }}</div>
              <p class="experts-content__descr">{{ item.bio }}</p>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
