{% include 'header-task.njk' %}

<main class="main">
  <section class="hero hero--layout section-offset">
    <div class="container"><a href="/tasks/" class="back-link hero__back-link"><svg class="back-link__icon"
          width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_26_2872)">
            <rect width="32" height="32" rx="5" fill="#1F1F1F" />
            <path
              d="M22.8307 15.2411H11.7603L15.7776 11.2238L14.7044 10.1506L8.85498 16L14.7044 21.8495L15.7776 20.7763L11.7603 16.759H22.8307V15.2411Z" />
          </g>
          <defs>
            <clipPath id="clip0_26_2872">
              <rect width="32" height="32" fill="white" />
            </clipPath>
          </defs>
        </svg> назад к задачам</a>
      <div class="hero__inner grid task">
        <div class="task__text">
          <h1 class="task__title">{{ title }}</h1>
          <div class="hero__badges">
            {% for item in levels2 %}
              <a class="badge badge--gray">
                {{ item | changeTextInRussian }}
              </a>
            {% endfor %}
            {% if props %}
              {% for item in props %}
                <a class="badge badge--gray">
                  {{item}}
                </a>
              {% endfor %}
            {% endif %}
          </div>
          <div class="task__descr">
            {{ content | safe }}
          </div>
          <div class="hero__links">
            <a href="{{ taskLink }}" target="_blank" class="hero__link">
              <svg width="24" height="24" viewBox="0 0 24 24"
                fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_121_217)">
                  <rect width="24" height="24" rx="5" fill="#1F1F1F" />
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M14.0291 5.42938H9.38147C7.9431 5.42938 6.70312 6.59531 6.70312 8.03438V15.5182C6.70312 17.0384 7.86207 18.2504 9.38147 18.2504H14.9624C16.4015 18.2504 17.5674 16.958 17.5674 15.5182V9.11508L14.0291 5.42938Z"
                    stroke="#F9EC0E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M13.8457 5.4212V7.45337C13.8457 8.44535 14.6484 9.25011 15.6397 9.25221C16.5597 9.2543 17.5007 9.255 17.5642 9.25081"
                    stroke="#F9EC0E" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                  <path d="M13.7131 14.3683H9.94287" stroke="#F9EC0E" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path d="M12.2868 10.9088H9.94238" stroke="#F9EC0E" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                </g>
                <defs>
                  <clipPath id="clip0_121_217">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span class="hero__link-text">Код задачи</span>
            </a>
            <a href="{{ answerLink }}" target="_blank" class="hero__link">
              <svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_43_166)">
                  <rect width="24" height="24" rx="5" fill="#1F1F1F" />
                  <path
                    d="M17.3539 6H7.01545C6.30274 6 5.72314 6.5796 5.72314 7.29231V16.3385C5.72314 17.0512 6.30274 17.6308 7.01545 17.6308H17.3539C18.0666 17.6308 18.6462 17.0512 18.6462 16.3385V7.29231C18.6462 6.5796 18.0666 6 17.3539 6ZM15.4155 7.93846H16.7078V9.23077H15.4155V7.93846ZM13.477 7.93846H14.7693V9.23077H13.477V7.93846ZM7.01545 16.3385V10.5231H17.3546L17.3552 16.3385H7.01545Z"
                    fill="#F9EC0E" />
                </g>
                <defs>
                  <clipPath id="clip0_43_166">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                </defs>
              </svg>
              <span class="hero__link-text">Решение</span>
            </a>
            <a href="https://t.me/verstaem_online" target="_blank" class="hero__link">
              <svg
                width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_43_158)">
                  <rect width="24" height="24" rx="5" fill="#1F1F1F" />
                  <g clip-path="url(#clip1_43_158)">
                    <path
                      d="M16.0987 7.82912C16.0987 7.82912 17.1613 7.4029 17.0727 8.43798C17.0432 8.86415 16.7776 10.3558 16.571 11.9693L15.8625 16.7488C15.8625 16.7488 15.8035 17.449 15.2722 17.5708C14.7408 17.6925 13.9438 17.1446 13.7962 17.0228C13.6782 16.9315 11.5824 15.5616 10.8444 14.8918C10.6378 14.7092 10.4017 14.3439 10.874 13.9177L13.9734 10.8734C14.3276 10.5081 14.6818 9.6557 13.2059 10.6907L9.07336 13.5828C9.07336 13.5828 8.60107 13.8872 7.71557 13.6132L5.79689 13.0044C5.79689 13.0044 5.08846 12.5478 6.29867 12.0911C9.25051 10.6603 12.8812 9.19901 16.0987 7.82912Z"
                      fill="#F9EC0E" />
                  </g>
                </g>
                <defs>
                  <clipPath id="clip0_43_158">
                    <rect width="24" height="24" fill="white" />
                  </clipPath>
                  <clipPath id="clip1_43_158">
                    <rect width="18.4615" height="18.4615" fill="white" transform="translate(2.95361 2.58472)" />
                  </clipPath>
                </defs>
              </svg>
              <span class="hero__link-text">Сообщество</span>
            </a>
          </div>
          {% if skills %}
            <div class="layout-content">
              <h2 class="layout-content__caption">Изучаемые навыки:</h2>
              <ul class="list-reset layout-content__list">
                {% for item in skills %}
                  <li class="layout-content__list-item">{{ item }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if articles.length %}
            <div class="layout-content">
              <h2 class="layout-content__caption">Полезные материалы:</h2>
              <ul class="list-reset layout-content__articles">
                {% for item in articles %}
                  <li class="layout-content__articles-item">
                    <article class="layout-content__article">
                      <h3 class="layout-content__subtitle">
                        <a href="{{ item.link }}" target="_blank"
                          class="layout-content__subtitle-link">
                          {{ item.text }}
                        </a>
                      </h3>
                      <span class="badge layout-content__badge">Перейти</span>
                    </article>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="task__media">
          {% if taskImage %}
            <img src="{{ taskImage }}" alt="Как должен выглядеть результат задачи">
          {% endif %}
          {% if taskVideo %}
            <video src="{{ taskVideo }}" preload="metadata" loop="" muted="" autoplay="" playsinline=""></video>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
