{% include 'header.njk' %}

<main class="main">
  <section class="hero hero--layouts section-offset">
    <div class="container">
      <h1 class="hero__title">{{ title }}</h1>
    </div>
  </section>
</main>

{% include 'footer.njk' %}
